<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Vid.World</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="~/Content/css/style.css" rel="stylesheet" />

    <script src="~/Scripts/Angular/angular.js"></script>
    <script src="~/Scripts/Angular/appScope.js"></script>
    @*<script src="~/Scripts/angular.min.js"></script>*@
    <link href="~/Scripts/sweetalert/sweet-alert.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/Js_Controllers/Reviewer.Js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="~/Content/Js/custom.js"></script>
    <script src="~/Scripts/guid.js"></script>
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/Angular/ngTable/ng-table.js"></script>
    <script src="~/Scripts/Angular/ngStorage.js"></script>
    <script src="~/Scripts/Angular/ngFramework.js"></script>
    <script src="~/Scripts/Angular/angular-sanitize.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/ui-bootstrap-tpls-0.10.0.js"></script>
    <script src="~/Scripts/Angular/paging.js"></script>
    <script src="~/Scripts/Angular/angular-cookies.min.js"></script>
    <script src="~/Scripts/Angular/appConstant.js"></script>
    <script src="~/Scripts/sweetalert/SweetAlert.js"></script>
    <script src="~/Scripts/sweetalert/sweet-alert.min.js"></script>



    <script src="~/Scripts/highlight.filter.js"></script>
    <script src="~/Scripts/ngHashtags.js"></script>


</head>
<body ng-controller="appctrl" ng-cloak>
    @*<div class="loader"></div>*@
    <div class="wrapper">
        <header class="header">
            <div class="container">
                <div class="logo">
                    <a href=""><img src="~/Content/images/logo.png" alt="" /></a>
                </div>

                <div class="user">
                    {{Username}} | <a href="" ng-click="logout()">LOGOUT</a>

                </div>

            </div>
        </header>

        @RenderBody()

        <footer class="footer">
            <div class="container">
                <ul>
                    <li><a href="~/Review/AboutUs">About us</a></li>
                    <li><a href="~/Review/TermsConditionController">Terms &amp; Conditions</a></li>
                    <li><a href="~/Review/PrivacyPolicy">Privacy Policy</a></li>
                </ul>
            </div>
        </footer>
    </div>
    <style type="text/css">
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Js", required: false)
    @RenderSection("scripts", required: false)
</body>
</html>
